<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VALIDATOR</title>

    <link rel="stylesheet" href='{{ url_for('static', filename='css/Template_Main.css') }}'>
    <link rel="stylesheet" href='{{ url_for('static', filename='css/Template_TextBox.css') }}'>
    <link rel="stylesheet" href='{{ url_for('static', filename='css/Template_DropBox.css') }}'>
    <link rel="stylesheet" href='{{ url_for('static', filename='css/Template_Button.css') }}'>
    <link rel="stylesheet" href='{{ url_for('static', filename='css/Template_GL.css') }}'>
    <link rel="stylesheet" href='{{ url_for('static', filename='css/Template_HeaderBar.css') }}'>
    <link rel="stylesheet" href='{{ url_for('static', filename='css/Template_DBTable.css') }}'>
    <link rel="stylesheet" href='{{ url_for('static', filename='css/Template_DatePicker.css') }}'>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gl-matrix/2.8.1/gl-matrix-min.js"
            integrity="sha512-zhHQR0/H5SEBL3Wn6yYSaTTZej12z0hVZKOv3TwCUXT1z5qeqGcXJLLrbERYRScEDDpYIJhPC1fk31gqR783iQ=="
            crossorigin="anonymous" defer>
    </script>
     <!--<script type="text/javascript" src="/static/JS/Renderer/ShaderHelpers.js" defer></script>
   <script type="text/javascript" src="/static/JS/Renderer/GLRenderer.js" defer></script>
    <script type="text/javascript" src="/static/JS/Dynamics/BoxDynamics.js" defer></script>-->
    <script type="text/javascript" src="/static/JS/HeaderBar/HeaderBar.js" defer></script>
    <script type="text/javascript" src="/static/JS/DragAndDrop/DragAndDrop.js" defer></script>
</head>
<body onload="OnClick_Validator()">
    <div class="header_bar">
         <div class="button_header">
            <label> <input class="component_button" type="button" id="ID_Btn_Header_Validator" onclick="OnClick_Validator()" autofocus name="btn_header_LatLonger" value="VALIDATOR"></label>
            <div class="input_border hidden" id="ID_Border_Validator"></div>
        </div>
    </div>

    <div class="background_object">
        <div id="ID_Content" class="div_content">
            <div class="border_box_header">
                <h1>VALIDATOR</h1>
            </div>
            <div class="border_box">
                <form name=Form_ManualSubmission action=/Validate enctype=multipart/form-data method=POST>

                    <div class="DropBox">
                        <label for="ID_FileDrop" id="ID_DropBox" class="drop-input">
                            <img src="static/images/upload.png" class="drop-input-image" id="ID_DropBoxImage">
                            <div class="drop-input-label-inactive" id="ID_DropBoxText">.</div>
                            <input type="file" id="ID_FileDrop" name="File" required>
                        </label>
                    </div>
                    <br><br>
                    <label><input class="button_cool" type="submit" id="ID_Btn_Submit" name="btn_submit" value="SUBMIT"></label>
                    <br><br>
                </form>
            </div>
        </div>
    </div>

     <!--   <canvas id="glCanvas" width="600", height="600"></canvas>-->
</body>
</html>
