.DropBox{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    box-sizing:border-box;

    border-style: none;
    border-bottom-style: solid;
    border-width: 3px;
    border-color: #aaccff;
    pointer-events: none;
    transition-duration: 0.4s;

    overflow-x: hidden;
}

.DropBox:hover{
  background: rgba(255, 255, 255, 0.1);
  transition-duration: 0.4s;
}

.drop-input {
    width: 100%;
    height: 100%;
    box-sizing:border-box;
    border: none;
    display: inline-block;
    cursor: pointer;

    color: #aaccff;
    letter-spacing: 1px;
    padding:10px;
    vertical-align: bottom;

    text-align: center;
    pointer-events: auto;
}

.input-file{
    width: 100%;
    height: 100%;
}

.drop-input-image {
    width: 100px;
    height: 100px;
    transition-duration: 0.2s;
    pointer-events: none;
    opacity: 0.4;
}

.drop-input-image-hover {
    width: 100px;
    height: 100px;
    transition-duration: 0.2s;
    pointer-events: none;
    opacity: 0.4;
    filter: blur(5px);
}

.drop-input-label-inactive {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;

    top:50%;
    width: 100%;
    pointer-events: none;

    opacity: 0;
    filter: blur(5px);

    transition-duration: 1.2s;
}

.drop-input-label-active {
    pointer-events: none;
    filter: blur(0.1px);

    opacity: 1.0;

    transition-duration: 1.2s;
}

input[type="file"] {
    display: none;
}
