.header_bar{
  width: 100%;
  height: 60px;
  margin:0;
  top:0;
  left:0;
  background: rgba(0,0,0, 0.4);
}

.input_border{
  position: absolute;
  left:0;
  right:0;
  height: 3px;
  background-color: #aaccff;
  transition-duration: 0.2s;
}

.input_border.hidden{
  width: 0;
  color: transparent;
  left: 50%;
  right: 50%;
}

.button_header {
  position: relative;
  height: 100%;
  margin: auto;

  box-sizing:border-box;
  transition-duration: 0.4s;

  float: left;
}

.button_header label{
  height: 100%;
  margin: auto;
}

.component_button{
  height:100%;
  padding-left: 50px;
  padding-right: 50px;

  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  color: #aaccff44;

  border-style: none;
  background: transparent;

  box-sizing:border-box;
  transition-duration: 0.2s;
  outline: none;
}

.component_button:hover {
  height:100%;
  padding-left: 50px;
  padding-right: 50px;

  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  color: #aaccffff;

  border-style: none;
  background: transparent;

  box-sizing:border-box;
  transition-duration: 0.2s;
  outline: none;
}

.component_button_focus {
  height:100%;
  padding-left: 50px;
  padding-right: 50px;

  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  color: #aaccffff;

  border-style: none;
  background: transparent;

  box-sizing:border-box;
  transition-duration: 0.2s;
  outline: none;
}

.label input
{
    border-style: none;
    background: transparent;

    color: #aaccff;
    letter-spacing: 2px;

    outline: none;
}
