html {
  font-family: 'Montserrat', sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  color: #aaccff;
  overflow: hidden;
  text-transform: uppercase;

  background: linear-gradient(230deg, rgb(75, 207, 147), rgb(75, 121, 207), rgb(162, 75,207));
  background-size: 300% 300%;

  -webkit-animation: AnimationName 90s ease infinite;
  -moz-animation: AnimationName 90s ease infinite;
  animation: AnimationName 90s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

h1 {
  font-size: 1em;
  text-align: center;
  horiz-align: center;
  letter-spacing: 2px;
  color: #aaccff
}

.div_content{
  width:60%;
  margin: 40px auto;
}

.div-content-big{
  width:80%;
  margin: 40px auto;
}

.border_box {
  background: rgba(0,0,0, 0.3);
  padding: 20px;
}

.div-content-big .border_box{
  background: rgba(0,0,0, 0.3);
  padding: 20px;
  overflow-y: scroll;
  height: 80vh;

  box-sizing:border-box;

  border-style: none;
  border-bottom-style: solid;
  border-width: 3px;
  border-color: #acf;
}

.border_box_header {
  background: rgba(0,0,0, 0.4);
  padding: 10px;
  letter-spacing: 2px;
  position: sticky;
}

.anchor{
  position: absolute;
  margin: auto;
  left: 0;
  top: 0;
  width:100%;
  height:100%;
  background-color: transparent;
  pointer-events: none;
  z-index: -1;
}

.HorizontalCollection{
  width:100%;
  margin: 0;
  padding: 0;
  display: flex;

  list-style-type:none;
}

.vr{
  width: 1px;
  height: 100%;
  color: #aaccff;
}

hr{
  border: none;
  border-top: 2px solid #aaccff99;
}

.HorizontalCollection li{
  flex-grow: 1
}

.HorizontalCollection li:not(:last-child){
  padding-right: 10px;
}

.label_sub{
  color: #aaccff80;
  font-size: 10px;
  letter-spacing: 1px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

li {
  margin: 1em 0 1em;
  padding: 0;
}