.button_cool{
  width: 33%;
  height: 100%;
  padding: 10px;

  color: #aaccff;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: left;

  border-style: none;
  background: rgba(0, 0, 0, 0.1);
  border-left-style: solid;
  border-color: #e69138;
  border-width: 3px;

  box-sizing:border-box;
  transition-duration: 0.1s;
  outline: none;
}

.button_cool:hover{
  width: 33%;
  height: 100%;
  padding: 10px;

  color: #aaccff;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  letter-spacing: 1px;

  border-style: none;
  background: #e6913825;
  border-left-style: solid;
  border-color: #e69138;
  border-width: 5px;

  box-sizing:border-box;
  transition-duration: 0.1s;
  outline: none;
}

.button_cool:active{
  width: 33%;
  height: 100%;
  padding: 10px;

  color: #aaccff;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  letter-spacing: 1px;

  border-style: none;
  background: #e6913850;
  border-left-style: solid;
  border-color: #e69138;
  border-width: 5px;

  box-sizing:border-box;
  transition-duration: 0.1s;
  outline: none;
}