.table-container{
  width: 80%;
  height: 80%;
  margin: 40px auto;
  overflow-y: auto;
}

.table-container thead th{
  position: sticky;
  top: 0;
  letter-spacing: 2px;
  background: rgba(0,0,0, 0.4);
}

table {
  width:100%;
  height:100%;
  table-layout: auto;
  border: 0;
  border-collapse: collapse;
  background: rgba(0,0,0, 0.3);
}

tbody{
  overflow-y: scroll;
  margin-top:50px;
  height: 500px;
  width:100%;
}

tbody td {
  white-space: nowrap;
  text-overflow: ellipsis;
}

th, td {
  padding: 20px;
  text-align: center;
}

caption {
  padding: 20px;
  caption-side: bottom;
  color: #aaccff;
  text-align: right;
  letter-spacing: 1px;
}
