.TextInput{
  width: 100%;
  box-sizing:border-box;
}

.input{
  height: 100%;
  width: 100%;

  color: #aaccff;
  font-family: 'Montserrat', sans-serif;
  border-style: none;
  border-bottom-style: solid;
  border-width: 3px;
  border-color: #aaccff;

  background: rgba(0, 0, 0, 0.1);
  padding:10px;
  box-sizing:border-box;

  transition-duration: 0.4s;
  outline: none;
}

.input:hover{
  height: 100%;
  width: 100%;

  color: #aaccffff;
  font-family: 'Montserrat', sans-serif;
  border-style: none;
  border-bottom-style: solid;
  border-width: 3px;
  border-color: #aaccff;

  background: rgba(255, 255, 255, 0.1);
  padding:10px;
  box-sizing:border-box;

  transition-duration: 0.4s;
  outline: none;
}

.input:focus{
  height: 100%;
  width: 100%;

  opacity: 1.0;
  color: #aaccff;
  font-family: 'Montserrat', sans-serif;
  border-style: none;
  border-bottom-style: solid;
  border-width: 3px;
  border-color: #e69138;

  background: rgba(0, 0, 0, 0.2);
  padding:10px;
  box-sizing:border-box;

  transition-duration: 0.4s;
  outline: none;
}

.input::placeholder {
  color: #aaccff;
  opacity: 0.4;
  font-size: 10px;
  letter-spacing: 1px;
}