/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #acf5;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e69138aa;
  opacity: 0.3;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #e69138aa;
  opacity: 0.3;
}